body{
    background-image: url("../images/crystal-background.jpg");
    background-size: cover;
    background-position: center;
    margin:0 auto;
}

h1{
    background:orange;
    width:35%;

}





.crystals{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.jewel{
    width:200px;
    margin-left: 50px;
    height:200px;
    border: solid;
    border-width: 1px;
    border-color:red;
    float: left;
}



.instruction{
    background-color: orange;
    color:white;
    width:35%;
    height:250%;
    align-content: center;
}


.ranNum{
    background-color: orange;
    color:white;
    width:35%;
    height:55%;
    font-size: 45px;
}
.tally{
    background-color:orange;
    color:white;
    width:35%;
    height:55%;
    text-align: center;
}

.scoreContainer{
    width:35%;
    height:95%;
}
 .score{
     background-color:orange;
     font:white;
     width:35%;
     height:35%;
    
 }

 .totalScore{
     background-color: orange;
     font:white;
     height:85px;
     font-size:35px;
     text-align: center;
     color:white;

 }

p{}